* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background: pink;
  height: 100vh;
}
.bg-p {
  background-color: aqua;
}
.input {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin: 0 10px 0 0;
}

p {
  width: 25vh;
  margin: 0 auto;
}
